body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: #3b4f3b;
  font-family: "Press Start 2P", cursive, sans-serif;
  letter-spacing: -1px;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 5vh;
  color: #697869;
  width: 70vw;
  text-align: center;
}
.screen {
  /* width: 80vh; */
  /* height: 60vh; */
  aspect-ratio: 4/3;
  max-width: 665px;
  max-height: 500px;
  box-shadow: 0 0 5rem rgba(210, 255, 216, 0.7);
  border-radius: 0.5rem;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(assets/background.png);
  background-size: cover;
  background-repeat: no-repeat; */
  flex-shrink: 0;
}

.score-box {
  display: flex;
  justify-content: space-between;
  height: 1rem;
  width: 50vh;
  max-width: 400px;
  max-height: 400px;
}
.score-box p {
  margin: 0;
}
.game-container {
  width: 50vh;
  aspect-ratio: 1;
  max-width: 400px;
  max-height: 400px;
  border: solid #3b4f3b 2px;
  border-radius: 3px;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.food,
.head {
  background-color: #3b4f3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-food {
  width: 40%;
  height: 40%;
  border: dashed 0.2vw #b6e2c9;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* KEYBOARD */
.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
  border: #ccc solid 1px;
}
.button-row1,
.button-row2,
.button-row3,
.button-row4 {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
}

.btns {
  font-size: 15px;
  position: absolute;
  background: #ccc;
  color: black;
}

.btns span {
  margin: 0;
  font-size: xx-small;
  display: block;
}
.btn-1,
.btn-7,
.btn-4,
.btn-10 {
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  transform: rotate(30deg);
  left: calc(25vw);
}
.btn-2,
.btn-5,
.btn-8,
.btn-0 {
  width: 80px;
  height: 40px;
  top: 3vh;
  left: calc(50vw - 30px);
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
}
.btn-3,
.btn-6,
.btn-9,
.btn-12 {
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  left: calc(75vw - 60px);

  transform: rotate(-30deg);
}

.btn-1:active,
.btn-7:active,
.btn-4:active,
.btn-10:active {
  transform: scale(0.9) rotate(30deg);
}

.btn-3:active,
.btn-6:active,
.btn-9:active,
.btn-12:active {
  transform: scale(0.9) rotate(-30deg);
}

.btn-2:active,
.btn-5:active,
.btn-8:active,
.btn-0:active {
  transform: scale(0.9);
}

/****************************** TOGGLE ******************************/
.toggle,
.toggle:before,
.slot__label,
.curtain {
  transition-property: background-color, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in, cubic-bezier(0.6, 0.2, 0.4, 1.5), linear;
  color: #697869;
}
.toggle:before,
.slot,
.slot__label {
  display: block;
  color: #697869;
}
.toggle:before,
.curtain {
  position: absolute;
}
.toggle:checked,
.curtain {
  background-color: #000701;
}
.toggle:focus {
  outline: transparent;
}
.toggle {
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.1em inset;
  cursor: pointer;
  position: relative;
  margin-right: 0.25em;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  border-color: #697869;
}
.toggle:before {
  background: currentColor;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.2em;
  width: 15px;
  height: 15px;
}
.toggle:checked:before {
  transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label,
.slot__label:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
  transform: translateY(-100%) scaleY(1);
}
.toggle:checked ~ .curtain {
  transform: scaleX(1);
}
.slot {
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  overflow: hidden;
  height: 15px;
  -webkit-text-stroke: 0.05em #697869;
}
.slot__label {
  transform-origin: 50% 0;
  text-align: center;
}
.slot__label:nth-child(2) {
  transform-origin: 50% 100%;
}
.curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
  z-index: -1;
}
/****************************** MEDIA QUERIES MOBILE ******************************/

@media screen and (max-width: 512px) {

  
  .buttons {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .btn-1,
  .btn-7,
  .btn-4,
  .btn-10 {
    left: calc(18vw);
  }
  .btn-2,
  .btn-5,
  .btn-8,
  .btn-0 {
    left: calc(50vw - 30px);
  }
  .btn-3,
  .btn-6,
  .btn-9,
  .btn-12 {
    left: calc(82vw - 60px);
  }
}
