* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: black;
  color: #3b4f3b;
  font-family: "Press Start 2P", cursive, sans-serif;
  letter-spacing: -1px;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw;
  position: relative;
}
header {
  /* padding: 3%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  /* border: red 1px solid; */
  flex-grow: 1;
  width: 100%;
}
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.icon {
  width: 30px;
}
h1,
h2 {
  margin: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5rem;
}
.screen {
  width: 80vh;
  height: 60vh;
  max-width: 665px;
  max-height: 500px;
  box-shadow: 0 0 5rem rgba(210, 255, 216, 0.7);
  border-radius: 0.5rem;
  /* margin-top: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/background.png);
  background-size: cover;
  flex-shrink: 0;
}

.score-box {
  display: flex;
  justify-content: space-between;
  height: 1rem;
  width: 50vh;
  max-width: 400px;
  max-height: 400px;
}
.score-box p {
  margin: 0;
}
.game-container {
  width: 50vh;
  max-width: 400px;
  max-height: 400px;
  height: 50vh;
  border: solid #3b4f3b 2px;
  border-radius: 3px;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.food,
.head {
  background-color: #3b4f3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-food {
  width: 40%;
  height: 40%;
  border: dashed 0.2vw #b6e2c9;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* KEYBOARD */
.buttons {
  flex-direction: column;
  width: 100%;
  height: 20vh;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
}
.button-row1,
.button-row2,
.button-row3,
.button-row4 {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
}

.btns {
  font-size: 15px;
  position: absolute;
  background: #ccc;
  color: black;
}

.btns span {
  margin: 0;
  font-size: xx-small;
  display: block;
}
.btn-1,
.btn-7,
.btn-4,
.btn-10 {
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  transform: rotate(30deg);
  left: calc(18vw);
}
.btn-2,
.btn-5,
.btn-8,
.btn-0 {
  width: 80px;
  height: 40px;
  top: 3vh;
  left: calc(50vw - 40px);
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
}
.btn-3,
.btn-6,
.btn-9,
.btn-12 {
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  left: calc(82vw - 80px);

  transform: rotate(-30deg);
}

.btn-1:active,
.btn-7:active,
.btn-4:active,
.btn-10:active {
  transform: scale(0.9) rotate(30deg);
}

.btn-3:active,
.btn-6:active,
.btn-9:active,
.btn-12:active {
  transform: scale(0.9) rotate(-30deg);
}

.btn-2:active,
.btn-5:active,
.btn-8:active,
.btn-0:active {
  transform: scale(0.9);
}

/* SWITCH BUTTON */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.7rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #3b4f3b;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: #3b4f3b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover:before {
  background-color: #b8e4cc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3b4f3b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.3rem);
  -ms-transform: translateX(1.3rem);
  transform: translateX(1.3rem);
}

.slider.round {
  border-radius: 1.7rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* MEDIA QUERIES MOBILE */

@media screen and (max-width: 512px) {
  .screen {
    width: 90vw;
    height: 67vw;
    margin-top: 5vh;
  }
  .game-container {
    height: 55vw;
    width: 55vw;
  }
  .score-box {
    width: 60vw;
  }
  body {
    font-size: 0.4rem;
  }
  .inner-food {
    border: dashed 0.2vw #b6e2c9;
  }
  .buttons {
    display: flex;
  }
}
@media screen and (max-width: 375px) {
  .btn-1,
  .btn-7,
  .btn-4,
  .btn-10 {
    left: calc(10vw);
  }
  .btn-2,
  .btn-5,
  .btn-8,
  .btn-0 {
    left: calc(50vw - 40px);
  }
  .btn-3,
  .btn-6,
  .btn-9,
  .btn-12 {
    left: calc(90vw - 80px);
  }
}

/* Update this selector to match your switch input */
.switch input:not(:checked) + .slider + .icon + .buttons {
  display: flex;
}
